

  <div id="product-calulator" style="display: none; width: 100%; max-width: 1024px; padding: 0; background: transparent;">
    <div class="no-container index-sections">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
      {{ 'modal.scss.css' | asset_url | stylesheet_tag }}

      <div class="row">
          <div class="col-md-10 mx-auto mt-4">
              <div class="card shadow border-0 mb-4">
                  <div class="card-body">
                      <div class="calc-header">
                        <center>
                            <h2>Away We Grow (AWG) 4-1-1 Projected Usage Rate Calculator</h2>
                            <small style="font-size: .775em;">Calculations are based on projections from the premium that organic food commands over conventional prices and may vary according to multiple factors. Organic prices were sourced from USDA retail prices in May 2020. MTCO2e per ton of Food Waste Diverted was sourced from WRAP UK.</small>
                        </center>
                      </div>
                      <div class="calc-body">
                        <div class="mb-3 row mt-4">
                            <label for="C5" class="col-sm-8 col-form-label">
                                Application Rate Per Month Per
                                Water Stock Tank Gallon (in mL)</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" value="30" id="C5">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C6" class="col-sm-8 col-form-label">Mililiter (mL) Per Gallon</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" value="3785.41" id="C6">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C7" class="col-sm-8 col-form-label">Application Rate in
                                Gallons</label>
                            <div class="col-sm-4">
                                <input type="text" readonly value="0.00793" class="form-control" id="C7">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C8" class="col-sm-8 col-form-label">Approximate Water Stock Tank Size Per 1
                                Acre Farm (Gallons)</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="C8" required>
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C9" class="col-sm-8 col-form-label">Gallons of AWG Required For a 1
                                Acre Farm Per Month (Gallons)</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" id="C9">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C11" class="col-sm-8 col-form-label">Approximate lb Production Per 1 Acre Farm Per Year</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="C11" required>
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C12" class="col-sm-8 col-form-label">Approximate Current Selling Price (Wholesale) Price Per Lb</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                    <input type="text" class="form-control" id="C12" required>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C13" class="col-sm-8 col-form-label">Approximate Current All-In Cost to Produce Per Lb</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                    <input type="text" class="form-control" id="C13" required>
                                </div>
                            </div>
                        </div>

                        <center>
                            <h5>Profitability Projections based on Historic Organic Premiums</h5>
                        </center>

                        <div class="mb-3 row mt-4">
                            <label for="C16" class="col-sm-8 col-form-label">Current Profit Margin</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" readonly class="form-control" id="C16">
                                    <span class="input-group-text" id="basic-addon1">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C17" class="col-sm-8 col-form-label">Current Profit Margin in $</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                    <input type="text" class="form-control" readonly id="C17">

                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C19" class="col-sm-8 col-form-label">Organic Premium Profit Margin Low Growth Potential</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" readonly class="form-control" value="20" id="C19" required >
                                    <span class="input-group-text" id="basic-addon1">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C20" class="col-sm-8 col-form-label">Organic Premium Profit Margin High Growth Potential</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" readonly class="form-control" value="60" id="C20" required >
                                    <span class="input-group-text" id="basic-addon1">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C21" class="col-sm-8 col-form-label">Organic Premium Profit Margin Low Growth Potential in $</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                    <input type="text" class="form-control" readonly id="C21" style="font-size: 25px;font-weight: 700;">

                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C22" class="col-sm-8 col-form-label">Organic Premium Profit Margin High Growth Potential in $</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                    <input type="text" class="form-control" readonly id="C22" style="font-size: 25px;font-weight: 700;">

                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C25" class="col-sm-8 col-form-label">LB Food Waste Per Gallon of AWG</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" value="6.25" id="C25">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C26" class="col-sm-8 col-form-label">LB per Metric Ton</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" value="2204.62" id="C26">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C27" class="col-sm-8 col-form-label">In Tons of Food</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" value="0.002835" id="C27">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C28" class="col-sm-8 col-form-label">MTCO2e per ton of Food Waste Diverted from Landfills</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" value="3" id="C28">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C29" class="col-sm-8 col-form-label">CO2e in Metric Tons Reduced Per Gallon AWG</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" value="0.008505" id="C29">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C30" class="col-sm-8 col-form-label">CO2e in LB Reduced Per Gallon AWG</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" value="18.750000" id="C30" style="font-size: 25px;font-weight: 700;">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C32" class="col-sm-8 col-form-label">Monthly Metric Tons of CO2e Reduced Per 1 Acre Farm Using AWG</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" id="C32">
                            </div>
                        </div>
                        <div class="mb-3 row mt-4">
                            <label for="C33" class="col-sm-8 col-form-label">Yearly Metric Tons of CO2e Reduced Per 1 Acre Farm Using AWG</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" id="C33" style="font-size: 25px;font-weight: 700;">
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
            $("#C7,#C8,#C9,#C12,#C13,#C17,#C19,#C20,#C21").on("change input", function () {

               var C7 = parseFloat($("#C7").val());
               var C8 = parseFloat($("#C8").val());
               var C12 = parseFloat($("#C12").val());
               var C13 = parseFloat($("#C13").val());
               var C17 = parseFloat($("#C17").val());
               var C19 = 0.2;
               var C20 = 0.6;

               var C9 = C8*0.00793;
               var C32 = C9*0.008505;

               $("#C9").val((C8*0.00793).toFixed(2));
               $("#C16").val(((C12-C13)/C12*100).toFixed(2));
               $("#C17").val((C12-C13).toFixed(2));
               $("#C21").val((C17*(1+C19)).toFixed(2));
               $("#C22").val((C17*(1+C20)).toFixed(2));
               $("#C32").val((C9*0.008505).toFixed(2));
               $("#C33").val((C32*12).toFixed(2));



            });

        });
        </script>

  </div>
