<!-- snippets/newsletter-popup.liquid -->

<div id="newsletter-popup" class="text-center">
  <div class="newsletter-popup__wrapper"></div>

  <div class="popup-container">
    {% section 'newsletter' %}
  
    <div id="popup-close-button" class="popup-close-button"></div>
  </div>
</div>
