{% assign header_title = page.title %}
{% include 'page_header' with header_title %}

<div class="faq-wrapper wrapper wrapper--margins wrapper__article">
  <div class="rte">
    {{ page.content }}
    {% section 'faq-page' %}
  </div>
</div>
